.lista-encabezado{
    list-style: none;
    display: flex;
    justify-content: flex-end;
}
li{
    padding:5px;
}
.imag-google{
    width: 400px;
    height: 150px;
}
.contenedor-imagen{
    text-align: center;
    margin-top: 30px;
}
.contenedor-buscador{
    text-align: center;

    margin: 0 auto;
}
.input-buscador{
    width: 500px;
    height: 30px;
    

}
.buscar{
    width: 150px;
    height: 25px;
    margin: 15px;
    background-color: rgb(111, 107, 116);
    border: 0px;
}
li{
    padding: 10px
}
a{
    text-decoration: none;
}
footer{
    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 0;
    background-color: aliceblue;
    align-items: center;
    display: flex;
}
.hermanientas{
    list-style: none;
    display: flex;
    
}


